/* Global styles */
body {
  font-family: Arial, sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  background-color: black;
}

h1 {
  text-align: left;
  margin-bottom: 20px;
  border-bottom: 5px solid gray;
  padding-bottom: 2%;
}

.post-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
  padding: 26px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: black;
  color: white;
  border: 1px solid gray;
}

.post-container img {
  max-width: 80%;
  height: 80%;
  margin-bottom: 10px;
  width: 100%;
}

/* Responsive layout */
@media (max-width: 1200px) {
  .post-list {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 992px) {
  .post-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .post-list {
    grid-template-columns: 1fr;
  }
}
